/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .logo img{
        width: 100%;
    }
    
    .header .contanier h4 {
        font-weight: 600;
        font-size: 50px;
        line-height: 50.4px;
      }
      
      .header .contanier p {
        font-weight: 500;
        font-size: 30px;
        line-height: 37.8px;
      }
      /* header */
      .headline h2{
        opacity: 0.4;
        color: #dee3e4;
        font-size: 132px;
        font-weight: 600;
        line-height: 171.6px;
        text-transform: uppercase;
      }
      .headline {
        position: relative;
        display: flex;
        justify-content: center;
      }

      .headline .headline-above h3 {
        position: absolute;
        top: 35%;
        left: 40%;
        font-weight: 600;
        font-size: 3rem;
        line-height: 54px;
      }

      .about-caption {
        width: 95%;
        margin: auto;
        position: relative;
      }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    
    .logo{
        width: 90%;
    }
    .header .contanier h4 {
        font-weight: 900;
        font-size: 50px;
        line-height: 50.4px;
      }
      
      .header .contanier p {
        font-weight: 800;
        font-size: 30px;
        line-height: 37.8px;
      }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .header .contanier h4 {
        font-weight: 500;
        font-size: 28px;
        line-height: 50.4px;
      }
      
      .header .contanier p {
        font-weight: 400;
        font-size: 21px;
        line-height: 37.8px;
      }
      .logo {
        width: 25%;
      }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .header .contanier h4 {
        font-weight: 500;
        font-size: 28px;
        line-height: 50.4px;
      }
      
      .header .contanier p {
        font-weight: 400;
        font-size: 21px;
        line-height: 37.8px;
      }
      .logo {
        width: 25%;
      }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .header .contanier h4 {
        font-weight: 500;
        font-size: 28px;
        line-height: 50.4px;
      }
      
      .header .contanier p {
        font-weight: 400;
        font-size: 21px;
        line-height: 37.8px;
      }
      .logo {
        width: 25%;
      }
  }