* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

::selection {
  background-color: #20c997;
  color: #fff;
  text-shadow: none;
}

h1 {
  padding: 15px 0px;
}
/* headlines */
.headline h2 {
  opacity: 0.4;
  color: #dee3e4;
  font-size: 132px;
  font-weight: 600;
  line-height: 171.6px;
  text-transform: uppercase;
}

.headline {
  position: relative;
  display: flex;
  justify-content: center;
}

.headline .headline-above h3 {
  position: absolute;
  top: 35%;
  left: 40%;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}
h3 {
  position: relative;
}

.headline .headline-above h3::after {
  content: "";
  position: absolute;
  top: 95%;
  left: 33%;
  width: 80px;
  background-color: #20c997;
  border: #20c997 solid 1.5px;
}

/* topnav */
.topnav {
  position: fixed;
  width: 100%;
}

.topnav-contanier {
  width: 95%;
  display: flex;
  align-items: center;
  margin: auto;
}

.logo {
  width: 25%;
}

.links {
  width: 50%;
  padding: 11px 0px;
  color: #fff;
}

.links ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.topnav li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.topnav li a:hover {
  color: #20c997 !important;
}
.active {
  color: #20c997 !important;
}

/* header */
.header {
  background-image: url(Img/bg/intro-bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #fff;
}

.header-layer {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* content */
.header .contanier {
  text-align: center;
}

.header .contanier h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 83.2px;
}

.header .contanier h1::after {
  content: "";
  position: relative;
  animation-name: text;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes text {
  0% {
    content: "I am|";
  }
  1% {
    content: "I am S|";
  }
  2% {
    content: "I am Si|";
  }
  3% {
    content: "I am Sim|";
  }
  4% {
    content: "I am Simo|";
  }
  5% {
    content: "I am Simon|";
  }
  6% {
    content: "I am Simone|";
  }
  7% {
    content: "I am Simone O|";
  }
  8% {
    content: "I am Simone Ol|";
  }
  9% {
    content: "I am Simone Oli|";
  }
  10% {
    content: "I am Simone Oliv|";
  }
  11% {
    content: "I am Simone Olivi|";
  }
  12% {
    content: "I am Simone Olivia|";
  }
  13% {
    content: "I am Simone Olivia|";
  }
  14% {
    content: "I am Simone Olivia|";
  }
  15% {
    content: "I am Simone Olivi|";
  }
  16% {
    content: "I am Simone Oliv|";
  }
  17% {
    content: "I am Simone Oli|";
  }
  18% {
    content: "I am Simone Ol|";
  }
  19% {
    content: "I am Simone O|";
  }
  20% {
    content: "I am Simone|";
  }
  21% {
    content: "I am Simon|";
  }
  22% {
    content: "I am Simo|";
  }
  23% {
    content: "I am Sim|";
  }
  24% {
    content: "I am Si|";
  }
  25% {
    content: "I am S|";
  }
  26% {
    content: "I am|";
  }
  27% {
    content: "I am a|";
  }
  28% {
    content: " I am a F|";
  }
  29% {
    content: "I am a Fr|";
  }
  30% {
    content: "I am a Fre|";
  }
  31% {
    content: "I am a Free|";
  }
  32% {
    content: "I am a Freel|";
  }
  33% {
    content: "I am a Freela|";
  }
  34% {
    content: "I am a Freelan|";
  }
  35% {
    content: "I am a Freelanc|";
  }
  36% {
    content: "I am a Freelance|";
  }
  37% {
    content: "I am a Freelancer|";
  }
  38% {
    content: "I am a Freelancer.|";
  }
  39% {
    content: "I am a Freelancer.|";
  }
  40% {
    content: "I am a Freelancer.|";
  }
  41% {
    content: "I am a Freelancer|";
  }
  42% {
    content: "I am a Freelance|";
  }
  43% {
    content: "I am a Freelanc|";
  }
  44% {
    content: "I am a Freelan|";
  }
  45% {
    content: "I am a Freela|";
  }
  46% {
    content: "I am a Freel|";
  }
  47% {
    content: "I am a Free|";
  }
  48% {
    content: "I am a Fre|";
  }
  49% {
    content: "I am a Fr|";
  }
  50% {
    content: "I am a F|";
  }
  51% {
    content: "I am a |";
  }
  52% {
    content: "I am |";
  }
  53% {
    content: "I am a|";
  }
  54% {
    content: "I am a p|";
  }
  55% {
    content: "I am a ph|";
  }
  56% {
    content: "I am a pho|";
  }
  57% {
    content: "I am a phot|";
  }
  58% {
    content: "I am a photo|";
  }
  59% {
    content: "I am a photog|";
  }
  60% {
    content: "I am a photogr|";
  }
  61% {
    content: "I am a photogra|";
  }
  62% {
    content: "I am a photograp|";
  }
  63% {
    content: "I am a photograph|";
  }
  64% {
    content: "I am a photographe|";
  }
  65% {
    content: "I am a photographer.|";
  }
  66% {
    content: "I am a photographer.|";
  }
  67% {
    content: "I am a photographer.|";
  }
  68% {
    content: "I am a photographer|";
  }
  69% {
    content: "I am a photographe|";
  }
  70% {
    content: "I am a photograph|";
  }
  71% {
    content: "I am a photograp|";
  }
  72% {
    content: "I am a photogra|";
  }
  73% {
    content: "I am a photogr|";
  }
  74% {
    content: "I am a photog|";
  }
  75% {
    content: "I am a photo|";
  }
  76% {
    content: "I am a phot|";
  }
  77% {
    content: "I am a pho|";
  }
  78% {
    content: "I am a ph|";
  }
  79% {
    content: "I am a p|";
  }
  80% {
    content: "I am a |";
  }
  81% {
    content: " I am a D|";
  }
  82% {
    content: "I am a De|";
  }
  83% {
    content: "I am a Des|";
  }
  84% {
    content: "I am a Desi|";
  }
  85% {
    content: "I am a Desig|";
  }
  86% {
    content: "I am a Design|";
  }
  87% {
    content: "I am a Designe|";
  }
  88% {
    content: "I am a Designer|";
  }
  89% {
    content: "I am a Designer.|";
  }
  90% {
    content: "I am a Designer.|";
  }
  91% {
    content: "I am a Designer.|";
  }
  92% {
    content: "I am a Designer|";
  }
  93% {
    content: "I am a Designe|";
  }
  94% {
    content: "I am a Design|";
  }
  95% {
    content: "I am a Desig|";
  }
  96% {
    content: "I am a Desi|";
  }
  97% {
    content: "I am a Des|";
  }
  98% {
    content: "I am a De|";
  }
  99% {
    content: "I am a D|";
  }
  100% {
    content: "I am |";
  }
}

.header .contanier h4 {
  font-weight: 500;
  font-size: 28px;
  line-height: 50.4px;
}

.header .contanier p {
  font-weight: 400;
  font-size: 21px;
  line-height: 37.8px;
}

.header .contanier button {
  color: #20c997;
  border: 2px solid #20c997;
  background-color: transparent;
  border-radius: 50rem;
  padding: 0.8rem 2.6rem;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  margin: 20px;
  line-height: 24px;
}

.fixed {
  position: relative;
}

.fixed-btn {
  position: fixed;
  background: #555;
  color: #fff;
  font-size: 1.25rem;
  right: 0px;
  top: 60;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.fa-gear {
  color: #fff;
}

.contanier .hireBtn:hover {
  background-color: #20c997 !important;
  color: white;
 
}
.contanier .hireBtn{
    transition: all ease-in-out 0.4s;
}

/* about */

.about-caption {
  width: 85%;
  margin: auto;
  position: relative;
}

.caption1 {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  font-size: 28px;
  text-align: left;
  font-weight: 600;
  line-height: 33.6px;
}

.caption1 P {
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  text-align: left;
  font-weight: 400;
  line-height: 28.8px;
  color: #4c4d4d;
  margin-bottom: 15px;
}

.caption1 h5::after {
  content: "Simone Olivia,";
  color: #20c997;
  margin: 0px 5px;
}

.caption2 {
  position: absolute;
  top: 0%;
  left: 70%;
  font-size: 28px;
  padding: 15px;
  font-weight: 600;
  line-height: 33.6px;
  display: flex;
  flex-wrap: wrap;
  width: 35%;
}

.caption2 ul {
  list-style-type: none;
}

.caption2 ul li {
  border-bottom: 1px solid #eaeaea;
  padding: 12px 0px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4c4d4d;
}

.caption2 ul li a {
  color: #20c997;
  text-decoration: none;
}
.caption2 ul li a:hover {
  color: #1baa80 !important;
}



.caption2 ul li span {
  font-weight: 600;
  margin-right: 5px;
  color: black;
}

.caption2 button {
  border: none;
  background-color: transparent;
}

.caption2 button .btn {
  position: relative;
  top: 25px;
  color: #fff;
  border: 2px solid #20c997;
  background-color: #20c997;
  border-radius: 50rem;
  padding: 0.8rem 2.6rem;
  text-decoration: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.caption2 button .btn:hover{
  background-color: #1baa80 !important;
  border-color: #1baa80;
  color: #fff !important;
  
}

.caption2 button .btn{
    transition: all 0.5s ease-in-out;
}

.statistics {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 30px 0px;
  text-align: center;
}

.statistics1 {
  position: relative;
  padding: 20px 0px;
  width: 25%;
}

.statistics1 p {
  font-weight: 400;
  font-size: 16px;
  color: rgb(76, 77, 77);
  line-height: 28.8px;
}

.statistics1 span {
  font-weight: 500;
  font-size: 48px;
  color: rgb(108, 117, 125);
  line-height: 62.4px;
}

.statistics1::after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 100%;
  border-left: 1px dotted #e0dede;
}

.statistics2 {
  padding: 20px 0px;
  width: 25%;
}
.statistics2 p {
  font-weight: 400;
  font-size: 16px;
  color: rgb(76, 77, 77);
  line-height: 28.8px;
}

.statistics2 span {
  font-weight: 500;
  font-size: 48px;
  color: rgb(108, 117, 125);
  line-height: 62.4px;
}

/* services */
.services {
  background-color: #f8f9fa;
}

.serv-contanier {
  width: 90%;
  margin: auto;
}
.text1 {
  display: flex;
  padding: 15px 20px;
}
.text1 img {
  margin-right: 15px;
  width: 70px;
  height: 70px;
}

.one {
  display: flex;
  padding-right: 10px;
}

.one h6 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #252b33;
  line-height: 24px;
}

.one p {
  color: rgb(76, 77, 77);
  font-weight: 400;
  line-height: 28.8px;
}

.two {
  display: flex;
}
.two h6 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #252b33;
  line-height: 24px;
}

.two p {
  color: #4c4d4d;
  font-weight: 400;
  line-height: 28.8px;
}

/* summary */

.summ-cont {
  width: 90%;
  margin: auto;
  display: flex;
}

/* left column */
.summ-cont .text1 h5 {
  margin-bottom: 15px;
  font-size: 24;
  font-weight: 600;
  line-height: 28.8px;
}

.summ-cont .text1 {
  display: flex;
  flex-direction: column;
}

.summ-cont .text1 .one-text .name {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 25.2px;
  font-size: 21px;
}

.summ-cont .text1 .one-text h6 {
  color: #dc3545;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 28.8px;
  font-size: 16px;
}

.summ-cont .text1 .one {
  border: solid 1px #dee2e6;
  margin-bottom: 20px;
  width: 100%;
}

.summ-cont .text1 .one .one-text {
  padding: 20px;
}

.summ-cont .text1 .one-text .box {
  background-color: #20c997;
  width: 19%;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding: 10px 0px;
  margin-bottom: 15px;
}

.summ-cont .text1 .two {
  border: solid 1px #dee2e6;
  margin-bottom: 20px;
  width: 100%;
}

.summ-cont .text1 .two .one-text {
  padding: 20px;
}

.summ-cont .text1 .three {
  border: solid 1px #dee2e6;
  margin-bottom: 20px;
  width: 10 0%;
}

.summ-cont .text1 .three .one-text {
  padding: 20px;
}

/* right column */
.text2 {
  display: flex;
  padding: 15px 20px;
}

.summ-cont .text2 h5 {
  margin-bottom: 15px;
  font-size: 24;
  font-weight: 600;
  line-height: 28.8px;
}

.summ-cont .text2 {
  display: flex;
  flex-direction: column;
}

.summ-cont .text2 .one-text .name {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 25.2px;
  font-size: 21px;
}

.summ-cont .text2 .one-text h6 {
  color: #dc3545;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 28.8px;
  font-size: 16px;
}

.summ-cont .text2 .one {
  border: solid 1px #dee2e6;
  margin-bottom: 20px;
  width: 100%;
}

.summ-cont .text2 .one .one-text {
  padding: 20px;
}

.summ-cont .text2 .one-text .box {
  background-color: #20c997;
  width: 19%;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding: 10px 0px;
  margin-bottom: 15px;
}

.summ-cont .text2 .two {
  border: solid 1px #dee2e6;
  margin-bottom: 20px;
  width: 100%;
}

.summ-cont .text2 .two .one-text {
  padding: 20px;
}

.summ-cont .text2 .three {
  border: solid 1px #dee2e6;
  margin-bottom: 20px;
  width: 100%;
}

.summ-cont .text2 .three .one-text {
  padding: 20px;
}

/* skills */
.skills {
  width: 90%;
  margin: auto;
  text-align: center;
  position: relative;
}

.skills h5 {
  font-size: 24px;
  font-weight: 600;
  margin: 1.5rem 0px;
  color: #252b33;
  text-align: left;
}

.skills-content {
  display: flex;
}

.skills-content p {
  font-size: 16px;
  font-weight: 500;
  color: rgb(33, 37, 41);
  line-height: 28.8px;
}

.bar-one {
  width: 50%;
  padding: 0px 20px;
}

.bar-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

.bar1 .bar-text {
  position: relative;
}

.bar1 .bar-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 65%;
  background-color: #20c997;
  border: #20c997 solid 3px;
  border-radius: 50rem;
}

.bar1 .bar-text::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #dee2e6;
  border: #dee2e6 solid 3.2px;
  border-radius: 50rem;
}

.bar2 .bar-text {
  position: relative;
}

.bar2 .bar-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 95%;
  background-color: #20c997;
  border: #20c997 solid 3px;
  border-radius: 50rem;
}

.bar2 .bar-text::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #dee2e6;
  border: #dee2e6 solid 3.2px;
  border-radius: 50rem;
}

.bar3 .bar-text {
  position: relative;
}

.bar3 .bar-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 80%;
  background-color: #20c997;
  border: #20c997 solid 3px;
  border-radius: 50rem;
}

.bar3 .bar-text::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #dee2e6;
  border: #dee2e6 solid 3.2px;
  border-radius: 50rem;
}

.bar-two {
  width: 50%;
  padding: 0px 20px;
}

.bar4 .bar-text {
  position: relative;
}

.bar4 .bar-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 70%;
  background-color: #20c997;
  border: #20c997 solid 3px;
  border-radius: 50rem;
}

.bar4 .bar-text::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #dee2e6;
  border: #dee2e6 solid 3.2px;
  border-radius: 50rem;
}

.bar5 .bar-text {
  position: relative;
}

.bar5 .bar-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 60%;
  background-color: #20c997;
  border: #20c997 solid 3px;
  border-radius: 50rem;
}

.bar5 .bar-text::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #dee2e6;
  border: #dee2e6 solid 3.2px;
  border-radius: 50rem;
}

.bar6 .bar-text {
  position: relative;
}

.bar6 .bar-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 99%;
  background-color: #20c997;
  border: #20c997 solid 3px;
  border-radius: 50rem;
}

.bar6 .bar-text::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #dee2e6;
  border: #dee2e6 solid 3.2px;
  border-radius: 50rem;
}

.skills button {
  border: none;
  background-color: transparent;
  padding-bottom: 50px;
}

.skills button .btn {
  position: relative;
  top: 25px;
  color: #6c757d;
  border: 2px solid #6c757d;
  background-color: transparent;
  border-radius: 50rem;
  padding: 0.8rem 2.6rem;
  text-decoration: none;
}
.skills button .btn:hover{
    color: #fff !important;
    background-color:#6c757d !important;
    
}
.skills button .btn {
    transition: all 0.5s ease-in-out;
  }
.fa-download {
  color: #6c757d;
}



button:hover .fa-download {
  color: #fff;
}
.fa-download{
    transition: all .5s ease-in-out !important;
}

/* portfolio */
.portfolio {
  background-color: #f8f9fa;
}

.portfolio-cont {
  width: 90%;
  margin: auto;
  padding: 50px;
}

.portfolio-cont .links {
  display: flex;
  margin: auto;
  color: rgba(76, 77, 77, 0.5);
}

.portfolio-cont .links li:hover{
    color: #20c997 !important;
}

.portfolio-cont ul {
  margin: 0px 20%;
}

.portfolio-cont .links li {
  padding: 15px;
}

.all {
  color: #20c997;
  border-bottom: solid 2px #20c997;
}

.gallery {
  display: flex;
  width: 90%;
  margin: auto;
}

.gallery img {
  width: 100%;

}

.portfolio .item{
    padding: 15px;
}

.photo1 {
  display: flex;
  flex-direction: column;
}

.photo2 {
  display: flex;
  flex-direction: column;
}

.photo3 {
  display: flex;
  flex-direction: column;
}

.inner {
  position: relative;
  text-align: center;
  
}

.gallery-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    opacity: 0;
    
    transition: opacity 1s;
}

.gallery-layer:hover {
    opacity: 1;
}

.gallery img:hover{
    transform: scale(1.2,1.2);
}

.gallery img{
    transition: all 1.5s ;
    
}


.gallery-layer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.gallery-layer h5{
    color: #fff;
    font-weight: 400 !important;
    font-size: 1.25rem;
    line-height: 1.2;
transition: all 2s;
}

.gallery-layer span{
    color: #dee3e4;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    transition: all 2s 0.5s;
}

/* testimonial */

.testimonial {
  padding: 50px;
}

.test {
  width: 90%;
  margin: auto;
  display: flex;
  padding: 50px 0px;
}

.inner-test {
  display: flex;
  padding: 20px;
}

.inner-content {
  margin-left: 30px;
}

.inner-test img {
  border-radius: 50%;
}

.test1 {
  background-color: #f8f9fa;
  margin-right: 10px;
  padding: 20px;
}

.test2 {
  background-color: #f8f9fa;
  margin-left: 10px;
  padding: 20px;
}

.contact {
  background-color: #f8f9fa;
}

.contact-contanier {
  width: 90%;
  margin: auto;
  padding: 50px;
  display: flex;
}

.left-cont {
  width: 20%;
  margin-right: 50px;
}

.left-cont p {
  margin-top: 20px;
  font-weight: 400;
  line-height: 28.8px;
  color: #4c4d4d;
}

.left-cont h5 {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #252b33;
  font-weight: 500;
  font-size: 21px;
  line-height: 25.2px;
}

.data {
  margin-top: 20px;
}

.data p {
  margin-top: 0px;
  font-weight: 400;
  line-height: 28.8px;
  color: #4c4d4d;
}

.fa-phone-flip,
.fa-fax,
.fa-envelope {
  margin-right: 10px;
  font-weight: 900;
  color: #20c997 !important;
}

.right-cont {
  width: 70%;
  margin-left: 50px;
  margin: auto;
}

.right-cont h5 {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #252b33;
  font-weight: 500;
  font-size: 21px;
  line-height: 25.2px;
}

form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

input {
  border-color: #dae1e3;
  font-size: 16px;
  color: #656565;
  width: 49%;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 15px 15px;
}

textarea {
  border-color: #dae1e3;
  margin-top: 20px;
  font-size: 16px;
  color: #656565;
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 15px 15px;
}

.submit-comment {
  position: relative;
  top: 25px;
  color: #fff;
  border: 2px solid #20c997;
  background-color: #20c997;
  border-radius: 50rem;
  padding: 0.8rem 2.6rem;
  text-decoration: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.submit-comment:hover{
    background-color: #1baa80;
    border-color: #1baa80;
    
}
.submit-comment{
    transition: all ease-in-out 0.4s;
}
.btn-send {
  margin: auto;
}

.last-cont {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.Lcolumn {
  display: flex;
}
.Lcolumn p {
  color: #252b33;
  font-weight: 400;
}

.Lcolumn a {
  text-decoration: none;
  margin-left: 5px;
  color: #20c997;
}

.Lcolumn a:hover{
    color: #1baa80;
  
}

.Lcolumn a{
    transition: all 0.5s ease-in-out;
}

.R-cont {
  display: flex;
  position: relative;
}

.first-word::after {
  margin-right: 20px;
  content: "";
  height: 14px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  top: 30%;
  left: 60%;
}

.R-cont p {
  margin-left: 15px;
  color: #252b33;
  font-weight: 400;
}

.first-word:hover p{
  color: #20c997;
 
}
.first-word p{
    transition: color 0.5s ease-in-out;
}

.sec-word:hover p {
  color: #20c997;
 
}

.sec-word p{
    transition: color 0.5s ease-in-out;
}